<div id="inventory">
  {% assign items = site.pages | where: 'item', true | sort: 'action' %}
  {% for item in items %}

    {% if item.action == 1 %}
      <button 
        type="button" 
        class="btn btn-primary btn-md potentially-hidden"
        data-url="{{ item.url }}"
        data-id="{{ item.id }}"
        {% if item.visible_if_unlocked %}
          data-visible-if-unlocked="{{ item.visible_if_unlocked }}"
          style="display:none;"
        {% endif %}
      >
        {{ item.title }}
      </button>
    {% else %}
      <a
        role="button"
        class="btn btn-secondary btn-md potentially-hidden"
        data-url="{{ item.url }}"
        href="{{ item.url }}"
        {% if item.visible_if_unlocked %}
          data-visible-if-unlocked="{{ item.visible_if_unlocked }}"
          style="display:none;"
        {% endif %}
      >
        {{ item.title }}
      </a>
    {% endif %}
  {% endfor %}
</div>