<ul class="nav nav-pills flex-column">
  {% for room in site.room %}
    <li
      class="nav-item potentially-hidden"
      data-url="{{ room.url }}"
      {% if room.visible_if_unlocked %}
        data-visible-if-unlocked="{{ room.visible_if_unlocked }}"
        style="display:none;"
      {% endif %}
    >
      <a class="nav-link {% if page.url == room.url %}active{% endif %} main-room"
        href="{{room.url}}"
      >
        {{room.title}}
      </a>
    </li>

    {% assign room_id = room.id | replace: '/room/', '' %}
    {% assign nav_elems = site.pages | where: 'room', room_id %}

    {% for nav_elem in nav_elems %}
      <li
        class="nav-item potentially-hidden"
        data-url="{{ nav_elem.url }}"
        {% if nav_elem.visible_if_unlocked %}
          data-visible-if-unlocked="{{ nav_elem.visible_if_unlocked }}"
          style="display:none;"
        {% endif %}
      >
        <a class="nav-link {% if page.url == nav_elem.url %}active{% endif %}"
          href="{{nav_elem.url}}"
        >
          {{nav_elem.title}}
        </a>
      </li>
    {% endfor %}
  {% endfor %}
</ul>